/* removing default browser styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* color and styling properties for the header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}
/* distinguishes the color of "seo" in header h1 */
header h1 .seo {
    color: #d9dcd6;
}
/* defines font size and style of nav bar as well as positioning on the right of the header */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}
/* allows the links to display inline, rather than stacked */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* sets font color for all links and removes hyperlink style */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* sets and styles the background image for the hero section */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* adjusts the main content to sit on the left and allow the .benefits sidebar to sit on the right */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* styling for the .horiseon-features containers */
.horiseon-features {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* sets the size limit for .horiseon-features imgs */
.horiseon-features img {
    max-height: 200px;
}
/* sets spacing and font size for .horiseon-features h2 */
.horiseon-features h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* this class is set to define the image positioning in .content to the left and allow the text to sit next to it */
.float-left {
    float: left;
    margin-right: 25px;
}
/* this class is set to define the image positioning in .content to the right and allow the text to sit next to it */
.float-right {
    float: right;
    margin-left: 25px;
}
/* main stylings for the .benefits sidebar section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* spacing for the different .benefits div elements */
.benefit-style {
    margin-bottom: 32px;
    color: #ffffff;
}
/* spacing for the .benefits headers */
.benefit-style h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* spacing for the .benefits imgs */
.benefit-style img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* styles the footer container, clear helps to center the different text boxes within */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
    font-weight: normal;
}
